.header {
	width: 100%;
	height: 75px;
	background-color: #3590d5;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	font-size: 22px;
}

.streak-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 20px;
	height: auto;
}

.streak-container > span {
	margin-right: 5px;
}

@media screen and (min-width: 550px) {
	.header {
		-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Firefox 3.5 - 3.6 */
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
}

@media screen and (max-height: 800px) {
	.header {
		height: 65px;
	}
}
