.menu-container {
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	top: 75px;
	left: 0px;
	background-color: #3590d5;
	z-index: 1;
	overflow-y: hidden;
	transition: 0.5s;
}
.menu-container.hidden {
	height: 0%;
}

.menu-container.shown {
	height: calc(100% - 75px);
}

.menu-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
	overflow-y: auto;
}

.links-container {
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 30px;
}

.links-container > a {
	text-decoration: none;
}

.main-logo.white {
	width: 100%;
}

.info-con {
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: row;
}

@media screen and (max-height: 900px) {
	.menu-content {
		height: 800px;
		padding-bottom: 0px;
		padding-top: 15px;
	}
	.menu-container {
		overflow-y: auto;
	}
}

@media screen and (min-width: 550px) {
	.main-logo.white {
		max-width: 500px;
	}

	.menu-content {
		justify-content: space-evenly;
	}
}

@media screen and (max-height: 800px) {
	.menu-container.shown {
		height: calc(100% - 65px);
	}
	.menu-container {
		top: 65px;
	}
}
