.search-container {
	display: inline-flex;
	overflow: hidden;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 18px;
	border: 2px solid #6a6a6a;
	justify-content: flex-start;
	width: 100%;
}

.search-container button img,
.search-container button {
	background-color: white;
	border: 0;
}

.search-container button {
	padding-right: 10px;
}

.search {
	padding: 15px;
	border-radius: 10px;
	font-size: 18px !important;
	border: 2px solid white;
	box-sizing: border-box;
	width: 100%;
}
