.feedback-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-size: 18px;
}

.feedback-img {
	width: 40%;
}

.feedback-text {
	margin-top: 5px;
	font-family: "Merriweather";
}

.feedback-container {
	display: flex;
	justify-content: space-between;
}
