.forgot-page-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px;
	align-items: flex-start;
	box-sizing: border-box;
	background-color: white;
}

.back {
	width: 22px;
}

.forgot-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: calc(100% - 20px);
}

@media screen and (min-width: 500px) {
	.forgot-page-container {
		width: 400px;
		border: 5px solid #3590d5;
		background-color: white;
		border-radius: 10px;
		height: auto;
		min-height: 650px;
		max-height: 800px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Firefox 3.5 - 3.6 */
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
	.forgot-container {
		min-height: 550px;
	}
}
