.content-container {
	padding: 30px;
	width: 100%;
	box-sizing: border-box;
	flex-direction: column;
	display: flex;
	background-color: white;
}

.gap-30 {
	gap: 30px;
}

.mb-5 {
	margin-bottom: 5px;
}

@media screen and (min-width: 550px) {
	.content-container {
		max-width: 550px;
		margin: auto;
		border-radius: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
		max-height: 800px;
		-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Firefox 3.5 - 3.6 */
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
}
