.leaderboard-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.leaderboard-leader {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.crown-icon {
	margin-bottom: -5px;
}

.leader-name {
	font-weight: 500;
}

.leader-name-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	margin-bottom: 20px;
}

.placement-history {
	width: 30px;
	height: auto;
}

.dots-divided-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	align-items: center;
}

.dots-divided-list > img {
	width: 10%;
	max-width: 50px;
}

@media screen and (min-width: 550px) {
	.avatar.small {
		max-width: 60px;
	}
}
