.login-container {
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	height: 100%;
	justify-content: space-evenly;
	background-color: white;
}
.main-logo {
	width: 100%;
	margin: auto;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}

input:not(.checkbox, .search),
textarea,
select {
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 18px;
	background-clip: padding-box;
	border: 2px solid #6a6a6a;
    background-color: white;
}

input,
textarea,
select {
	font-family: "Ubuntu";
}

textarea {
	resize: vertical;
	min-height: 100px;
}

input:not(.checkbox):focus,
textarea:focus,
select:focus {
	outline: none !important;
	border-color: #2ea774;
	border-width: 2px;
	border-radius: 10px;
}
input.input-error,
textarea.input-error,
select.input-error {
	border-color: red;
}

.checkbox {
	margin-left: 0px;
	margin-right: 10px;
}

input::placeholder,
textarea::placeholder {
	color: #6a6a6a;
}

.green-link-con {
	text-align: center;
	width: 100%;
}

.green-link {
	color: #2ea774;
	font-size: 20px;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.description {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 20px;
}

.error-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #ba3939;
	background: #ffe0e0;
	border: 1px solid #a33a3a;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	box-sizing: border-box;
}

.error-icon {
	height: 30px;
	margin-right: 5px;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

@media screen and (min-width: 500px) {
	.login-container {
		width: 400px;
		border: 5px solid #3590d5;
		background-color: white;
		border-radius: 10px;
		height: auto;
		min-height: 650px;
		max-height: 800px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Firefox 3.5 - 3.6 */
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}

	.reset-password {
		gap: 30px;
	}

	.login-form.reset-password {
		gap: 20px;
	}
}
