.avatar {
	border-radius: 50%;
	display: block;
}

.stat-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.userinfo-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profile-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.button-con {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.displayname {
	margin-top: 10px;
	font-size: 28px;
	margin-bottom: 10px;
}

.fs-18 {
	font-size: 18px;
}

.avatar-container {
	position: relative;
}

.picture-icon {
	position: absolute;
	width: 50px;
	border-radius: 50%;
	bottom: 0;
	right: 0;
}
