.project-container {
	display: flex;
	gap: 20px;
	align-items: center;
	flex-direction: column;
	font-size: 18px;
}

.image-con {
	max-width: 80%;
}

.image-con img {
	width: 100%;
	height: 100%;
}

.project-row {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}

.project-description {
	font-family: "Merriweather";
}

.project-sub-row p {
	line-height: 25px;
}

.project-sub-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project-sub-row p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.project-sub-row div {
	display: flex;
	align-items: flex-start;
	height: 100%;
}

.project-map {
	width: 100%;
	border: 0;
}

.back-con {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.back-image-con {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
