.reg-hours-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-sizing: border-box;
	overflow: auto;
}

.form-row-time {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-column {
	display: inline-flex;
	max-width: auto;
	flex-direction: column;
}

.form-row p,
.form-column p {
	margin-bottom: 10px;
}
