.alert-box {
	width: 100%;
	box-sizing: border-box;
	padding: 25px;
	border-radius: 10px;
	border: 2px black solid;
	transition: 0.5s;
}

.alert-box > p {
	font-size: 20px;
	margin-top: 0;
}

.alert-box > div {
	display: flex;
	flex-direction: row;
}

.alert-box > div.two {
	justify-content: space-between;
}
.alert-box > div.one {
	justify-content: center;
}

.alert-box .two button {
	transition: visibility 0ms 0.3s !important;
}
.alert-box.hidden .two button {
	visibility: hidden;
}

.alert-box.shown .two button {
	visibility: visible;
}

.alert-box.hidden > p {
	justify-content: space-between;
	height: 0;
}
.alert-box.shown > p {
	height: auto;
}
.alert-box.hidden {
	overflow: hidden;
	opacity: 0;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: none;
	transition: 0.3s !important;
}

.alert-box.shown {
	display: block;
	opacity: 1;
	height: auto;
}

.display-none {
	display: none !important;
}
