.button {
	box-sizing: border-box;
	border: none;
	background-color: #2ea774;
	width: 100%;
	padding: 15px;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	text-decoration: none;
	transition: 0.5s;
	text-align: center;
	display: block;
}

.button.white {
	background-color: white;
	color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.button.white > div > img {
	margin-right: 15px;
}

.button.white > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.shadow {
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Firefox 3.5 - 3.6 */
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.button.hidden {
	opacity: 0;
}

.button.shown {
	opacity: 1;
}

.button.inline {
	display: inline-block;
}

.button.small {
	width: 30%;
}

.button.inverted {
	color: #2ea774;
	background-color: white;
	border: 2px solid #2ea774;
}
