select {
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url("../assets/chevron-down.svg");
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
}

/* For IE  */
select::-ms-expand {
	display: none;
}

option:hover {
	background-color: royalblue;
	-webkit-tap-highlight-color: #2ea774 !important;
	-webkit-tap-highlight-color: rgba(46, 167, 116, 1) !important;
}
