.item-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(106, 106, 106, 50%);
	box-sizing: border-box;
	color: black;
	text-decoration: none;
	font-size: 18px;
}

.item-row.added-date {
	padding-top: 10px;
	padding-bottom: 10px;
}

.item-sub-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.item-list a:last-child {
	border-bottom: none;
}

.item-date-container {
	width: 10%;
	margin-right: 20px;
}
.item-row-date {
	text-align: center;
	width: auto;
	white-space: pre-wrap;
}

.item-list {
	text-align: center;
	font-size: 18px;
}
