.leaderboard-list {
	width: 100%;
	font-size: 18px;
}

.leaderboard-list .leaderboard-row:last-child {
	border-bottom: none;
}

.leaderboard-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid rgba(106, 106, 106, 50%);
}

.leaderboard-row > p {
	min-width: 35px;
}

.leaderboard-item {
	display: flex;
	flex-direction: row;
	flex-grow: 4;
	align-items: center;
	margin-left: 20px;
	gap: 15px;
}

.avatar.small {
	max-width: 18%;
}

.current-user {
	color: #3590d5;
	font-weight: 500;
}

@media screen and (min-width: 550px) {
	.leaderboard-row {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
