.loading {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: text-bottom;
	border: 0.25em solid;
	border-right: 0.25em solid transparent;
	border-radius: 50%;
	animation: spinner-border 0.75s linear infinite;
	color: #3590d5;
	box-sizing: border-box;
}

.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loading:focus-visible {
	outline: -webkit-focus-ring-color auto 1px;
}

@keyframes spinner-border {
	100% {
		transform: rotate(1turn);
	}
}
