.not-found-con {
	justify-content: space-around;
}

.not-found-con > div {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.not-found-con > div > img {
	width: 80%;
}

.not-found-height {
	height: 100%;
	margin-top: 0px !important;
}

@media screen and (min-width: 550px) {
	.not-found-height {
		height: auto;
	}
	.body-con {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	.not-found-con > div > h1 {
		margin-bottom: 20px;
		margin-top: 20px;
	}
}
