@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: normal;
	src: local("Ubuntu"),
		url(./assets/fonts/Ubuntu-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu"),
		url(./assets/fonts/Ubuntu-Medium.ttf) format("truetype");
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: bold;
	src: local("Ubuntu"), url(./assets/fonts/Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: normal;
	src: local("Merriweather"),
		url(./assets/fonts/Merriweather-Regular.ttf) format("truetype");
}
html {
	width: 100%;
	height: 100%;
}
body {
	font-family: Ubuntu;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}
#root {
	width: 100%;
	height: 100%;
}

.title {
	margin-top: 0px;
	font-weight: 500;
	font-size: 20px;
}

.no-margin {
	margin: 0 !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.full-width-height {
	width: 100%;
	height: 100%;
	background-color: #e7e7e7;
}

.content-height {
	height: calc(100% - 75px);
}

.scroll-y {
	overflow-y: auto;
}

@media screen and (min-width: 550px) {
	.content-height {
		height: calc(100% - 135px);
	}
}

@media screen and (max-height: 800px) {
	.content-height {
		height: calc(100% - 65px);
	}
}
